In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set()

In [3]:
from sklearn.neighbors import KNeighborsClassifier as KNC
from sklearn.tree import DecisionTreeClassifier as DTC
from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.naive_bayes import GaussianNB as NB
from sklearn.svm import SVC

import numpy as np

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score as cross

In [4]:
train = pd.read_csv('input/train.csv')
test = pd.read_csv('input/test.csv')

In [5]:
# difference from trial 2?

# seperate known set and unknown set

# instead of giving value of -1 to unknown set

# (still can't agree with the given solution)

# and then combine the results of least three best methods

In [ ]:
# note that many age data is missing

# some cabin and embarked location is missing but not gonna use this data

# test set has 1 fare data missing

# run this in data set where fare data is missing

In [ ]:
## summary

# three train sets

# normal / without age / without fare

In [22]:
train = train.drop(columns = 'Name')
test = test.drop(columns = 'Name')

In [48]:
sex_mapping = {"male":0, "female":1}

train['Sex'] = train['Sex'].map(sex_mapping)
test['Sex'] = test['Sex'].map(sex_mapping)

In [49]:
train['Age'] = train['Age']/80
test['Age'] = test['Age']/80

In [50]:
train = train.drop(columns = ['Embarked', 'Cabin', 'Ticket'])
test = test.drop(columns = ['Embarked', 'Cabin', 'Ticket'])

In [51]:
train['Fare'] = train['Fare']/513
test['Fare'] = test['Fare']/513

In [52]:
train = train.drop(columns = ['PassengerId'])

In [53]:
train.loc[train['Parch'] == 0, 'Parch'] = 2
train.loc[train['Parch'] == 1, 'Parch'] = 0
train.loc[train['Parch'] == 2, 'Parch'] = 0
train.loc[(train['Parch'] > 2) & (train['Parch'] < 4), 'Parch'] = 1
train.loc[train['Parch'] >= 4, 'Parch'] = 3

test.loc[test['Parch'] == 0, 'Parch'] = 2
test.loc[test['Parch'] == 1, 'Parch'] = 0
test.loc[test['Parch'] == 2, 'Parch'] = 0
test.loc[(test['Parch'] > 2) & (test['Parch'] < 4), 'Parch'] = 1
test.loc[test['Parch'] >= 4, 'Parch'] = 3

In [54]:
train.loc[train['SibSp'] == 0, 'SibSp'] = 2
train.loc[train['SibSp'] == 1, 'SibSp'] = 0
train.loc[train['SibSp'] == 2, 'SibSp'] = 0
train.loc[(train['SibSp'] > 2) & (train['SibSp'] < 4), 'SibSp'] = 1
train.loc[train['SibSp'] >= 4, 'SibSp'] = 3

test.loc[test['SibSp'] == 0, 'SibSp'] = 2
test.loc[test['SibSp'] == 1, 'SibSp'] = 0
test.loc[test['SibSp'] == 2, 'SibSp'] = 0
test.loc[(test['SibSp'] > 2) & (test['SibSp'] < 4), 'SibSp'] = 1
test.loc[test['SibSp'] >= 4, 'SibSp'] = 3

In [55]:
train_with_age = train.loc[train['Age'].isnull() == False]

In [130]:
test_with_age = test.loc[test['Age'].isnull() == False]

test_with_fare = test.loc[test['Fare'].isnull() == False]

test_with_age_fare = test_with_age.loc[test_with_age['Fare'].isnull() == False]

In [133]:
train_no_age = train.drop(columns = 'Age')
train_no_fare = train_with_age.drop(columns = 'Fare')
train_no_age_fare = train.drop(columns = ['Age', 'Fare'])

test_no_age = test.loc[test['Age'].isnull()]
test_no_fare = test.loc[test['Fare'].isnull()]

test_no_age = test_no_age.drop(columns = 'Age')
test_no_fare = test_no_fare.drop(columns = 'Fare')
test_no_age_fare = test.drop(columns = ['Age', 'Fare'])

In [134]:
train_with_age_data = train_with_age.drop(columns = 'Survived')
train_with_age_target = train_with_age['Survived']

train_no_age_data = train_no_age.drop(columns = 'Survived')
train_no_age_target = train_no_age['Survived']

train_no_fare_data = train_no_fare.drop(columns = 'Survived')
train_no_fare_target = train_no_fare['Survived']

train_no_age_fare_data = train_no_age_fare.drop(columns = 'Survived')
train_no_age_fare_target = train_no_age_fare['Survived']

In [86]:
train_no_fare_data

     Pclass  Sex     Age  SibSp  Parch
0         3    0  0.2750      0      0
1         1    1  0.4750      0      0
2         3    1  0.3250      0      0
3         1    1  0.4375      0      0
4         3    0  0.4375      0      0
..      ...  ...     ...    ...    ...
885       3    1  0.4875      0      3
886       2    0  0.3375      0      0
887       1    1  0.2375      0      0
889       1    0  0.3250      0      0
890       3    0  0.4000      0      0

[714 rows x 5 columns]

In [87]:
train_no_age_data

     Pclass  Sex  SibSp  Parch      Fare
0         3    0      0      0  0.014133
1         1    1      0      0  0.138954
2         3    1      0      0  0.015448
3         1    1      0      0  0.103509
4         3    0      0      0  0.015692
..      ...  ...    ...    ...       ...
886       2    0      0      0  0.025341
887       1    1      0      0  0.058480
888       3    1      0      0  0.045712
889       1    0      0      0  0.058480
890       3    0      0      0  0.015107

[891 rows x 5 columns]

In [117]:
k_fold = KFold(n_splits = 10, shuffle = True, random_state = 0)

In [118]:
clf = KNC(n_neighbors = 4)
scoring = 'accuracy'
score = cross(clf, train_with_age_data, train_with_age_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("with age and fare",score)
print(round(np.mean(score)*100, 2))

clf = KNC(n_neighbors = 4)
scoring = 'accuracy'
score = cross(clf, train_no_age_data, train_no_age_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("no age" , score)
print(round(np.mean(score)*100, 2))

clf = KNC(n_neighbors = 4)
scoring = 'accuracy'
score = cross(clf, train_no_fare_data, train_no_fare_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("no fare",score)
print(round(np.mean(score)*100, 2))

clf = KNC(n_neighbors = 4)
scoring = 'accuracy'
score = cross(clf, train_no_age_fare_data, train_no_age_fare_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("no fare",score)
print(round(np.mean(score)*100, 2))

with age and fare [0.81944444 0.86111111 0.77777778 0.83333333 0.81690141 0.77464789
 0.83098592 0.85915493 0.83098592 0.87323944]
82.78
no age [0.72222222 0.85393258 0.7752809  0.73033708 0.83146067 0.80898876
 0.79775281 0.82022472 0.79775281 0.75280899]
78.91
no fare [0.79166667 0.86111111 0.79166667 0.86111111 0.8028169  0.78873239
 0.84507042 0.85915493 0.84507042 0.84507042]
82.91
no fare [0.78888889 0.83146067 0.79775281 0.76404494 0.83146067 0.83146067
 0.79775281 0.76404494 0.74157303 0.69662921]
78.45

In [120]:
clf = KNC(n_neighbors = 5)
scoring = 'accuracy'
score = cross(clf, train_with_age_data, train_with_age_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("with age and fare",score)
print(round(np.mean(score)*100, 2))

clf = KNC(n_neighbors = 5)
scoring = 'accuracy'
score = cross(clf, train_no_age_data, train_no_age_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("no age" , score)
print(round(np.mean(score)*100, 2))

clf = KNC(n_neighbors = 5)
scoring = 'accuracy'
score = cross(clf, train_no_fare_data, train_no_fare_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("no fare",score)
print(round(np.mean(score)*100, 2))

clf = KNC(n_neighbors = 5)
scoring = 'accuracy'
score = cross(clf, train_no_age_fare_data, train_no_age_fare_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("no fare",score)
print(round(np.mean(score)*100, 2))

with age and fare [0.83333333 0.875      0.79166667 0.77777778 0.8028169  0.78873239
 0.78873239 0.84507042 0.83098592 0.87323944]
82.07
no age [0.78888889 0.79775281 0.80898876 0.76404494 0.85393258 0.78651685
 0.80898876 0.82022472 0.82022472 0.7752809 ]
80.25
no fare [0.81944444 0.875      0.80555556 0.81944444 0.81690141 0.78873239
 0.77464789 0.83098592 0.85915493 0.87323944]
82.63
no fare [0.78888889 0.78651685 0.79775281 0.78651685 0.83146067 0.83146067
 0.79775281 0.76404494 0.74157303 0.69662921]
78.23

In [126]:
for i in range(1,20):

    clf = KNC(n_neighbors = i)
    scoring = 'accuracy'
    score1 = cross(clf, train_with_age_data, train_with_age_target, cv = k_fold, n_jobs = 1, scoring = scoring)
    # print("with age and fare",score)
    # print(round(np.mean(score)*100, 2))

    clf = KNC(n_neighbors = i)
    scoring = 'accuracy'
    score2 = cross(clf, train_no_age_data, train_no_age_target, cv = k_fold, n_jobs = 1, scoring = scoring)
    # print("no age" , score)
    # print(round(np.mean(score)*100, 2))

    clf = KNC(n_neighbors = i)
    scoring = 'accuracy'
    score3 = cross(clf, train_no_fare_data, train_no_fare_target, cv = k_fold, n_jobs = 1, scoring = scoring)
    # print("no fare",score)
    # print(round(np.mean(score)*100, 2))

    clf = KNC(n_neighbors = i)
    scoring = 'accuracy'
    score4 = cross(clf, train_no_age_fare_data, train_no_age_fare_target, cv = k_fold, n_jobs = 1, scoring = scoring)
    # print("no fare",score)
    print("for i =",i,"\n wAF: ", round(np.mean(score1)*100, 2), ", nA: ", round(np.mean(score2)*100, 2),\
         ", nF: ",round(np.mean(score3)*100, 2), ", nAF: ", round(np.mean(score3)*100, 2),\
         ", Overall: ", sum([round(np.mean(score4)*100, 2),round(np.mean(score1)*100, 2),round(np.mean(score2)*100, 2),round(np.mean(score3)*100, 2)]))

for i = 1
 wAF:  76.06 , nA:  77.11 , nF:  77.6 , nAF:  77.6 , Overall:  306.21000000000004
for i = 2
 wAF:  80.95 , nA:  78.23 , nF:  79.84 , nAF:  79.84 , Overall:  318.14
for i = 3
 wAF:  81.66 , nA:  78.11 , nF:  80.68 , nAF:  80.68 , Overall:  317.55
for i = 4
 wAF:  82.78 , nA:  78.91 , nF:  82.91 , nAF:  82.91 , Overall:  323.05
for i = 5
 wAF:  82.07 , nA:  80.25 , nF:  82.63 , nAF:  82.63 , Overall:  323.18
for i = 6
 wAF:  82.78 , nA:  80.36 , nF:  83.62 , nAF:  83.62 , Overall:  324.42
for i = 7
 wAF:  82.49 , nA:  81.37 , nF:  81.79 , nAF:  81.79 , Overall:  323.54
for i = 8
 wAF:  80.81 , nA:  81.14 , nF:  81.94 , nAF:  81.94 , Overall:  321.78
for i = 9
 wAF:  80.53 , nA:  80.58 , nF:  80.95 , nAF:  80.95 , Overall:  319.28
for i = 10
 wAF:  79.69 , nA:  80.81 , nF:  80.67 , nAF:  80.67 , Overall:  318.5
for i = 11
 wAF:  80.25 , nA:  80.92 , nF:  81.64 , nAF:  81.64 , Overall:  321.15
for i = 12
 wAF:  80.53 , nA:  81.26 , nF:  80.53 , nAF:  80.53 , Overall:  321.11
for i = 13
 wAF:  80.11 , nA:  80.25 , nF:  79.82 , nAF:  79.82 , Overall:  320.76
for i = 14
 wAF:  78.57 , nA:  80.25 , nF:  78.98 , nAF:  78.98 , Overall:  318.38
for i = 15
 wAF:  79.13 , nA:  80.13 , nF:  78.98 , nAF:  78.98 , Overall:  319.16
for i = 16
 wAF:  78.7 , nA:  79.91 , nF:  78.28 , nAF:  78.28 , Overall:  318.03
for i = 17
 wAF:  78.56 , nA:  78.67 , nF:  78.0 , nAF:  78.0 , Overall:  315.92
for i = 18
 wAF:  78.7 , nA:  79.23 , nF:  78.28 , nAF:  78.28 , Overall:  316.78999999999996
for i = 19
 wAF:  78.27 , nA:  78.45 , nF:  77.72 , nAF:  77.72 , Overall:  315.02

In [111]:
clf = DTC()
scoring = 'accuracy'
score = cross(clf, train_with_age_data, train_with_age_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("with age and fare",score)
print(round(np.mean(score)*100, 2))

clf = DTC()
scoring = 'accuracy'
score = cross(clf, train_no_age_data, train_no_age_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("no age" , score)
print(round(np.mean(score)*100, 2))

clf = DTC()
scoring = 'accuracy'
score = cross(clf, train_no_fare_data, train_no_fare_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("no fare",score)
print(round(np.mean(score)*100, 2))

clf = DTC()
scoring = 'accuracy'
score = cross(clf, train_no_age_fare_data, train_no_age_fare_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("no fare",score)
print(round(np.mean(score)*100, 2))

with age and fare [0.74825175 0.72027972 0.78321678 0.76923077 0.80985915]
76.62
no age [0.82122905 0.79213483 0.85393258 0.79775281 0.79213483]
81.14
no fare [0.7972028  0.83216783 0.74825175 0.76223776 0.88028169]
80.4
no fare [0.81005587 0.79213483 0.80898876 0.80337079 0.80898876]
80.47

In [112]:
clf = RFC()
scoring = 'accuracy'
score = cross(clf, train_with_age_data, train_with_age_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("with age and fare",score)
print(round(np.mean(score)*100, 2))

clf = RFC()
scoring = 'accuracy'
score = cross(clf, train_no_age_data, train_no_age_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("no age" , score)
print(round(np.mean(score)*100, 2))

clf = RFC()
scoring = 'accuracy'
score = cross(clf, train_no_fare_data, train_no_fare_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("no fare",score)
print(round(np.mean(score)*100, 2))

clf = RFC()
scoring = 'accuracy'
score = cross(clf, train_no_age_fare_data, train_no_age_fare_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("no fare",score)
print(round(np.mean(score)*100, 2))

with age and fare [0.7972028  0.7972028  0.78321678 0.84615385 0.83802817]
81.24
no age [0.83240223 0.79775281 0.83146067 0.80898876 0.79213483]
81.25
no fare [0.79020979 0.7972028  0.76223776 0.76223776 0.88028169]
79.84
no fare [0.81005587 0.79213483 0.80898876 0.80337079 0.80898876]
80.47

In [113]:
clf = NB()
scoring = 'accuracy'
score = cross(clf, train_with_age_data, train_with_age_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("with age and fare",score)
print(round(np.mean(score)*100, 2))

clf = NB()
scoring = 'accuracy'
score = cross(clf, train_no_age_data, train_no_age_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("no age" , score)
print(round(np.mean(score)*100, 2))

clf = NB()
scoring = 'accuracy'
score = cross(clf, train_no_fare_data, train_no_fare_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("no fare",score)
print(round(np.mean(score)*100, 2))

clf = NB()
scoring = 'accuracy'
score = cross(clf, train_no_age_fare_data, train_no_age_fare_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("no fare",score)
print(round(np.mean(score)*100, 2))

with age and fare [0.7972028  0.72027972 0.76223776 0.73426573 0.79577465]
76.2
no age [0.78212291 0.73033708 0.73033708 0.74157303 0.82022472]
76.09
no fare [0.8041958  0.71328671 0.67132867 0.76223776 0.80985915]
75.22
no fare [0.79329609 0.65730337 0.65730337 0.6741573  0.8258427 ]
72.16

In [114]:
clf = SVC()
scoring = 'accuracy'
score = cross(clf, train_with_age_data, train_with_age_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("with age and fare",score)
print(round(np.mean(score)*100, 2))

clf = SVC()
scoring = 'accuracy'
score = cross(clf, train_no_age_data, train_no_age_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("no age" , score)
print(round(np.mean(score)*100, 2))

clf = SVC()
scoring = 'accuracy'
score = cross(clf, train_no_fare_data, train_no_fare_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("no fare",score)
print(round(np.mean(score)*100, 2))

clf = SVC()
scoring = 'accuracy'
score = cross(clf, train_no_age_fare_data, train_no_age_fare_target, cv = k_fold, n_jobs = 1, scoring = scoring)
print("no fare",score)
print(round(np.mean(score)*100, 2))

with age and fare [0.8041958  0.76923077 0.76923077 0.79020979 0.82394366]
79.14
no age [0.81005587 0.79213483 0.79213483 0.80337079 0.80898876]
80.13
no fare [0.8041958  0.76923077 0.70629371 0.79020979 0.82394366]
77.88
no fare [0.81005587 0.79213483 0.79213483 0.80337079 0.80898876]
80.13

In [ ]:
# test_no_age = test.loc[test['Age'].isnull()]
# test_no_fare = test.loc[test['Fare'].isnull()]

# test_no_age = test_no_age.drop(columns = 'Age')
# test_no_fare = test_no_fare.drop(columns = 'Fare')

# try solely on KNC n = 5~7

In [128]:
test_no_age

     PassengerId  Pclass  Sex  SibSp  Parch      Fare
10           902       3    0      0      0  0.015391
22           914       1    1      0      0  0.061761
29           921       3    0      0      0  0.042260
33           925       3    1      0      0  0.045712
36           928       3    1      0      0  0.015692
..           ...     ...  ...    ...    ...       ...
408         1300       3    1      0      0  0.015050
410         1302       3    1      0      0  0.015107
413         1305       3    0      0      0  0.015692
416         1308       3    0      0      0  0.015692
417         1309       3    0      0      0  0.043583

[86 rows x 6 columns]

In [138]:
test_no_age_fare_data = test_no_age_fare.drop(columns = "PassengerId").copy()
test_with_age_fare_data = test_with_age_fare.drop(columns = "PassengerId").copy()
test_no_age_data = test_no_age.drop(columns = "PassengerId").copy()
test_no_fare_data = test_no_fare.drop(columns = "PassengerId").copy()

In [ ]:
# train_with_age_data, train_with_age_target
# train_no_age_data, train_no_age_target
# train_no_fare_data, train_no_fare_target
# train_no_age_fare_data, train_no_age_fare_target

In [135]:
# test_no_age_fare
## go through 
### train_no_age_fare_data

# test_with_age_fare
## go through 
###train_with_age_data

# test_no_age
## go through
### train_no_age_data

# test_no_fare
## go through
### train_no_fare_data

# if mismatch 
## advantage on one with higher train results

In [140]:
clf_nAF = KNC(n_neighbors = 5)
clf_nAF.fit(train_no_age_fare_data, train_no_age_fare_target)

clf_wA = KNC(n_neighbors = 5)
clf_wA.fit(train_with_age_data, train_with_age_target)

clf_nA = KNC(n_neighbors = 5)
clf_nA.fit(train_no_age_data, train_no_age_target)

clf_nF = KNC(n_neighbors = 5)
clf_nF.fit(train_no_fare_data, train_no_fare_target)

prediction_nAF = clf_nAF.predict(test_no_age_fare_data)
prediction_wAF = clf_wA.predict(test_with_age_fare_data)
prediction_nA = clf_nA.predict(test_no_age_data)
prediction_nF = clf_nF.predict(test_no_fare_data)

In [147]:
len(prediction_nAF)-len(prediction_wAF)-len(prediction_nA)-len(prediction_nF)

0

In [148]:
prediction_nAF = pd.DataFrame({
    "PassengerId": test_no_age_fare["PassengerId"],
    "Survived" : prediction_nAF
})

prediction_wAF = pd.DataFrame({
    "PassengerId": test_with_age_fare["PassengerId"],
    "Survived" : prediction_wAF
})

prediction_nA = pd.DataFrame({
    "PassengerId": test_no_age["PassengerId"],
    "Survived" : prediction_nA
})

prediction_nF = pd.DataFrame({
    "PassengerId": test_no_fare["PassengerId"],
    "Survived" : prediction_nF
})

prediction_a = pd.concat([prediction_wAF,prediction_nA,prediction_nF ])

prediction_b = (prediction_nAF["Survived"] + prediction_a["Survived"])/2

prediction_b = pd.DataFrame({
    "PassengerId": test["PassengerId"],
    "Survived" : prediction_b
})

for i in prediction_b.loc[prediction_b["Survived"] == 0.5, "PassengerId"]:
    prediction_b.loc[prediction_b["PassengerId"] == i, "Survived"] = prediction_nAF.loc[prediction_nAF["PassengerId"] == i, "Survived"]

prediction_1 = prediction_b

In [196]:
clf_nAF = KNC(n_neighbors = 6)
clf_nAF.fit(train_no_age_fare_data, train_no_age_fare_target)

clf_wA = KNC(n_neighbors = 6)
clf_wA.fit(train_with_age_data, train_with_age_target)

clf_nA = KNC(n_neighbors = 6)
clf_nA.fit(train_no_age_data, train_no_age_target)

clf_nF = KNC(n_neighbors = 6)
clf_nF.fit(train_no_fare_data, train_no_fare_target)

prediction_nAF = clf_nAF.predict(test_no_age_fare_data)
prediction_wAF = clf_wA.predict(test_with_age_fare_data)
prediction_nA = clf_nA.predict(test_no_age_data)
prediction_nF = clf_nF.predict(test_no_fare_data)

In [197]:
prediction_nAF = pd.DataFrame({
    "PassengerId": test_no_age_fare["PassengerId"],
    "Survived" : prediction_nAF
})

prediction_wAF = pd.DataFrame({
    "PassengerId": test_with_age_fare["PassengerId"],
    "Survived" : prediction_wAF
})

prediction_nA = pd.DataFrame({
    "PassengerId": test_no_age["PassengerId"],
    "Survived" : prediction_nA
})

prediction_nF = pd.DataFrame({
    "PassengerId": test_no_fare["PassengerId"],
    "Survived" : prediction_nF
})

prediction_a = pd.concat([prediction_wAF,prediction_nA,prediction_nF ])

prediction_b = (prediction_nAF["Survived"] + prediction_a["Survived"])/2

prediction_b = pd.DataFrame({
    "PassengerId": test["PassengerId"],
    "Survived" : prediction_b
})

for i in prediction_b.loc[prediction_b["Survived"] == 0.5, "PassengerId"]:
    prediction_b.loc[prediction_b["PassengerId"] == i, "Survived"] = prediction_nAF.loc[prediction_nAF["PassengerId"] == i, "Survived"]

prediction_2 = prediction_b

In [198]:
clf_nAF = KNC(n_neighbors = 7)
clf_nAF.fit(train_no_age_fare_data, train_no_age_fare_target)

clf_wA = KNC(n_neighbors = 7)
clf_wA.fit(train_with_age_data, train_with_age_target)

clf_nA = KNC(n_neighbors = 7)
clf_nA.fit(train_no_age_data, train_no_age_target)

clf_nF = KNC(n_neighbors = 7)
clf_nF.fit(train_no_fare_data, train_no_fare_target)

prediction_nAF = clf_nAF.predict(test_no_age_fare_data)
prediction_wAF = clf_wA.predict(test_with_age_fare_data)
prediction_nA = clf_nA.predict(test_no_age_data)
prediction_nF = clf_nF.predict(test_no_fare_data)

In [199]:
prediction_nAF = pd.DataFrame({
    "PassengerId": test_no_age_fare["PassengerId"],
    "Survived" : prediction_nAF
})

prediction_wAF = pd.DataFrame({
    "PassengerId": test_with_age_fare["PassengerId"],
    "Survived" : prediction_wAF
})

prediction_nA = pd.DataFrame({
    "PassengerId": test_no_age["PassengerId"],
    "Survived" : prediction_nA
})

prediction_nF = pd.DataFrame({
    "PassengerId": test_no_fare["PassengerId"],
    "Survived" : prediction_nF
})

prediction_a = pd.concat([prediction_wAF,prediction_nA,prediction_nF ])

prediction_b = (prediction_nAF["Survived"] + prediction_a["Survived"])/2

prediction_b = pd.DataFrame({
    "PassengerId": test["PassengerId"],
    "Survived" : prediction_b
})

for i in prediction_b.loc[prediction_b["Survived"] == 0.5, "PassengerId"]:
    prediction_b.loc[prediction_b["PassengerId"] == i, "Survived"] = prediction_a.loc[prediction_nAF["PassengerId"] == i, "Survived"]

prediction_3 = prediction_b

In [205]:
prediction = []
for i in (prediction_1["Survived"]+prediction_2["Survived"]+prediction_3["Survived"])/3:
    if i < 0.5:
        prediction.append(0)
    else:
        prediction.append(1)

In [207]:
submission = pd.DataFrame({
    "PassengerId": test["PassengerId"],
    "Survived" : prediction
})

In [208]:
submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [ ]:
# for i = 5 (nAF)
#  wAF:  82.07 , nA:  80.25 , nF:  82.63 , nAF:  82.63 , Overall:  323.18
# for i = 6 (nAF)
#  wAF:  82.78 , nA:  80.36 , nF:  83.62 , nAF:  83.62 , Overall:  324.42
# for i = 7 (not nAF)
#  wAF:  82.49 , nA:  81.37 , nF:  81.79 , nAF:  81.79 , Overall:  323.54

In [209]:
submission.to_csv('submission.csv', index = False)
submission = pd.read_csv('submission.csv')
submission.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0